h1,
h2,
h3,
h4,
h5,
h6 {
    font-variant: small-caps;
}

h1 {
    padding: 12px;
}


.pretty-container {
  margin: 16px;
  padding: 16px;
  position: relative;
}

.interior-container {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.custom-tabs{
    font-variant: small-caps;
    font-size: 3.0rem;
    letter-spacing: -.1rem;
}

/*.js-plotly-plot {
  padding-top: 2%;
  margin-right: 2%;
}*/

#app-container {
    margin: 32px;
    position: relative;
}

#l2-slider .rc-slider-track {
    background-color: #2000FF;
}
#l1-slider .rc-slider-track {
    background-color: #ED4024;
}

.rc-slider-dot {
    border-color: #E9E9E9;
}

.rc-slider-dot-active {
    border-color: #000000;
}

.rc-slider-handle {
    border-color: #000000;
}
