h1,
h2,
h3,
h4,
h5,
h6 {
    font-variant: small-caps;
}

h1 {
    padding: 12px;
}


.pretty-container {
  margin: 8px;
  padding: 8px;
  position: relative;
}

.interior-container {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.custom-tabs{
    font-variant: small-caps;
    font-size: 3.0rem;
    letter-spacing: -.1rem;
}

/*.js-plotly-plot {
  padding-top: 2%;
  margin-right: 2%;
}*/

#app-container {
    margin: 16px;
    position: relative;
}
